/* FooterStyle.css */
.footer {
  background-color: #6e1c3a !important;
  color: #fff !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  animation: fadeIn 1s ease-in-out;
}

.footer-container {
  max-width: 1200px !important;
  margin: 0 auto !important;
  animation: fadeIn 1s ease-in-out;
}

.footer-logo {
  font-weight: bold !important;
  margin-bottom: 16px !important;
  animation: fadeIn 1s ease-in-out;
}

.footer-description {
  margin-top: 16px !important;
  line-height: 1.6 !important;
  animation: fadeIn 1s ease-in-out;
}

.footer-links-title,
.footer-contacts-title {
  font-weight: bold !important;
  margin-bottom: 16px !important;
  animation: fadeIn 1s ease-in-out;
}

.footer-link {
  display: block !important;
  color: #fff !important;
  margin-bottom: 8px !important;
  text-decoration: none !important;
  animation: fadeIn 1s ease-in-out;
}

.footer-link:hover {
  text-decoration: underline !important;
  animation: fadeIn 1s ease-in-out;
}

.footer-contacts-item {
  margin-bottom: 8px !important;
  animation: fadeIn 1s ease-in-out;
}

.footer-bottom {
  border-top: 1px solid #fff !important;
  margin-top: 16px !important;
  padding-top: 16px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: column !important;
  animation: fadeIn 1s ease-in-out;
}
.logoutButton {
  color: #fff !important;
  text-decoration: none !important;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .footer-bottom {
    flex-direction: row !important;
  }
}

/* Для мобильных устройств */
@media (max-width: 599px) {
  .footer-container {
    padding: 0 10px;
  }

  .footer-logo {
    font-size: 18px;
  }

  .footer-description {
    font-size: 14px;
  }

  .footer-links-title,
  .footer-contacts-title {
    font-size: 16px;
  }

  .footer-link {
    font-size: 14px;
  }

  .footer-contacts-item {
    font-size: 14px;
  }

  .footer-bottom {
    flex-direction: column !important;
    align-items: center !important;
  }
}

/* Для планшетов */
@media (min-width: 767px) and (max-width: 1199px) {
  .footer-container {
    padding: 0 20px;
  }

  .footer-logo {
    font-size: 20px;
  }

  .footer-description {
    font-size: 16px;
  }

  .footer-links-title,
  .footer-contacts-title {
    font-size: 18px;
  }

  .footer-link {
    font-size: 16px;
  }

  .footer-contacts-item {
    font-size: 16px;
  }

  .footer-bottom {
    flex-direction: row !important;
  }
}
