* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.house-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #f5f5f5;
  min-height: 100vh;
  animation: fadeIn 1s ease-in-out;
}
.mainPageContentTitle {
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
  color: #6e1c3a;
  animation: fadeIn 1s ease-in-out;
}

.house-page-content {
  width: 100%;
  height: 80%;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
}

.house-page-details {
  padding: 20px;
  animation: fadeIn 1s ease-in-out;
}

.house-page-details h2 {
  font-size: 1.5rem;
  margin: 0;
  animation: fadeIn 1s ease-in-out;
}

.house-page-area {
  color: gray;
  font-size: 1.2rem;
  animation: fadeIn 1s ease-in-out;
}

.house-page-description {
  color: #666;
  margin-top: 10px;
  line-height: 1.5;
  animation: fadeIn 1s ease-in-out;
}
.mySwiper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100vw;
  max-height: 100vh;
  border-radius: 5px;
  animation: fadeIn 1s ease-in-out;
}
.swiperImg {
  width: 90%;
  height: 90vh;
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Для мобильных устройств */
@media (max-width: 599px) {
  .house-page-container {
    padding: 20px;
  }

  .mainPageContentTitle {
    font-size: 1.5rem;
  }

  .house-page-content {
    height: auto;
    border-radius: 8px;
  }

  .house-page-details {
    padding: 10px;
  }

  .house-page-details h2 {
    font-size: 1.2rem;
  }

  .house-page-area {
    font-size: 1rem;
  }

  .house-page-description {
    font-size: 1rem;
  }

  .mySwiper {
    max-width: 100%;
    max-height: 50vh;
  }

  .swiperImg {
    width: 100%;
    height: 50vh;
  }
}

/* Для планшетов */
@media (min-width: 600px) and (max-width: 1199px) {
  .house-page-container {
    padding: 25px;
  }

  .mainPageContentTitle {
    font-size: 1.8rem;
  }

  .house-page-content {
    height: auto;
    border-radius: 10px;
  }

  .house-page-details {
    padding: 15px;
  }

  .house-page-details h2 {
    font-size: 1.4rem;
  }

  .house-page-area {
    font-size: 1.1rem;
  }

  .house-page-description {
    font-size: 1.1rem;
  }

  .mySwiper {
    max-width: 100%;
    max-height: 60vh;
  }

  .swiperImg {
    width: 100%;
    height: 60vh;
  }
}
