/* Основной контейнер */
.sendedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

/* Заголовок */
.sendedTitle {
  font-size: 36px;
  font-weight: bold;
  color: #6e1c3a;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

/* Описание */
.sendedDescription {
  font-size: 20px;
  color: #333;
  animation: fadeIn 1s ease-in-out;
}

/* Анимация */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Для мобильных устройств */
@media (max-width: 599px) {
  .sendedContainer {
    padding: 10px;
  }

  .sendedTitle {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .sendedDescription {
    font-size: 16px;
  }
}

/* Для планшетов */
@media (min-width: 767px) and (max-width: 1199px) {
  .sendedContainer {
    padding: 15px;
  }

  .sendedTitle {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .sendedDescription {
    font-size: 18px;
  }
}
